<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Lets talk about</h2>
                    <p>Bringing your idea into a live responsive project</p>
                    <p><a href="#projects-section" class="btn btn-primary">Learn more</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#home-section"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                        <li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projects</a></li>
                        <li><a href="#contact-section"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Mobile Development</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Web Development</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>WordPress Development</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>BackEnd API</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>SEO Strategy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">472B Omotunde Akinsola St. Omole Phase 1, Ikeja, Lagos, Nigeria</span></li>
                            <li><a href="tel://+2348143265095"><span class="icon fa fa-phone"></span><span class="text">+234 814 3265 095</span></a></li>
                            <li><a href="mailto:Rashdadebowale@gmail.com"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">Rashdadebowale@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/raadebowale/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                        <li class="ftco-animate"><a href="https://twitter.com/_Aderd/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/aderd_/" target="_blank"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;All rights reserved – <a href="https://RashCode.com" target="_blank">RashCode</a>
                </p>
            </div>
        </div>
    </div>
</footer>